@import url('./estilos/cabecalho.css');
@import url('./estilos/barra_de_pesquisa.css');
@import url('./estilos/imagem_principal_landpage.css');
@import url('./estilos/carrossel_imagens.css');
@import url('./estilos/combos.css');
@import url('./estilos/mensagemMotivadoraSobreOSite.css');
@import url('./estilos/footer.css');
@import url('./estilos/nosso_compromisso.css');
@import url('./estilos/carrossel_de_testemunho.css');
@import url('./estilos/seção_catalogo.css');

/* Configurações Gerais e Cores */
:root {
    --marrom-dark:#3d1503;
    --marrom-escuro: #5c3a21;
    --marrom-medio: #2b1405;
    --marrom-ouro: #c7882a;
    --marrom-vermelho:#A33010;
    --bege-claro: #e5c7a6;
    --bege-fundo: #fff6ed;
    --branco: #fff;
}
*{
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


      
}
.topoFixado{
    position: fixed;     /* Fixa o elemento na tela */
    top: 0;              /* Cola exatamente no topo */
    left: 0;             /* Alinha na lateral esquerda */
    width: 100%;         /* Força o cabeçalho a ocupar toda a largura da tela */
    z-index: 9999;       /* Garante que ele fique por cima das imagens do catálogo */
}
body{
    background-color: var(--bege-fundo);
    line-height: 1.5;
}
a{
    text-decoration: none;
    color: inherit;
}
.espaço{
    margin: 100px 0;
}

/* MOBILE FIRST */
@media (max-width: 768px){
    /* Logo e Menu de Navegação  */
    .burger{
        display: flex;
    }
    .nav-menu{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--marrom-medio);
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        clip-path: circle(0px at 90% -10%);
        transition: clip-path 0.5s ease-in-out;
        pointer-events: none;
    }
    .nav-menu.active{
        clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-item{
        margin: 1rem 0;
    }
    .burger.active .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }
   
    .burger.active .bar:nth-child(2) {
        opacity: 0;
    }
   
    .burger.active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }



    /* Carrossel de categorias */
    .container-slider{
    display: flex;
    width: 100%;
    min-height: 50vh;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    background-color: var(--marrom-medio);
    margin: 10px 0 0 0;
    }
    .container-images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px
    }


    /* Combos */
    .imagensCombo{
    width: 200px;
    margin: 30px 0;
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    display: block;
    }
    .tituloCombo{
    color: var(--bege-fundo);
    font-weight: bold;
    font-size: 24px;
    font-family: "Times New Roman";
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    text-align: center;
    text-shadow: 2px 2px 4px var(--marrom-dark); 
    }


    /* Mensagem motivadora sobre o site */
    .mensagemSobreOSite{
    background-color: var(--bege-claro);
    text-align: center;
    width: 300px;
    align-items: center;
    border-radius: 15px;
    padding: 30px;
    margin: 0 auto;
    box-shadow: 1px 1px 10px var(--marrom-medio)
}
.tituloMensagem{
    font-family: 'Jacques Francois Shadow';
    font-size: 22px;
    font-weight: bold;
    color: var(--marrom-escuro);
}


/* Complementos do cardápio (botões de adicionar ao carrinho, ver detalhes e tempo de preparo) */ 
.adiciona1AoCarrinho, .tempoDePreparo, .direcionaAoProduto {
    background-color: var(--marrom-vermelho);
    border: none;
    padding: 2px 8px;
    border-radius: 15px;
    color: var(--bege-claro);
}
}
