@import url('./estilos/cabecalho.css');
@import url('./estilos/barra_de_pesquisa.css');
@import url('./estilos/footer.css');

@import url('./estilos/imagem_principal_landpage.css');
@import url('./estilos/seção_catalogo.css');
@import url('./estilos/pop_up_itens.css');
@import url('./estilos/rastreamento.css');

@import url('./estilos/mensagemMotivadoraSobreOSite.css');

@import url('./estilos/area_de_pedidos.css');
@import url('./estilos/pagamento.css');
@import url('./estilos/pop_up_pix.css');
@import url('./estilos/metodos_de_pagamento.css');

/* Configurações Gerais e Cores */
:root {
    --marrom-dark:#3d1503;
    --marrom-escuro: #5c3a21;
    --marrom-medio: #2b1405;
    --marrom-ouro: #c7882a;
    --marrom-vermelho:#A33010;
    --bege-claro: #e5c7a6;
    --bege-fundo: #fff6ed;
    --branco: #fff;
    --cor-destaque: #c4b49e;
}
*{
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topoFixado{
    position: fixed;
    top: 0;             
    left: 0;             
    width: 100%;        
    z-index: 9999;      
}
body{
    background-color: var(--bege-fundo);
    line-height: 1.5;
}
a{
    text-decoration: none;
    color: inherit;
}
.espaço{
    margin: 100px 0;
}

.nossosProdutos{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}