.search-container {
    padding: 15px;
}

.search-bar {
    width: 100%;
    padding: 8px 15px;
    border: 0.1px solid var(--marrom-medio);
    border-radius: 20px;
    background-color: var(--branco);
    font-size: 14px;
}

