.cabecalho{
    background-color: var(--marrom-medio);
    color: var(--marrom-ouro);
}
.logo-container, .subtitulo, .logo{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    font-weight: bold;
    font-family: 'Jacques Francois Shadow';
    color: var(--marrom-ouro);
}
.subtitulo{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: (var(--marrom-medio));
    color: var(--marrom-ouro);
    padding: 1rem 2rem;
    position: relative;
}
.burger{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}
.bar{
    height: 2px;
    width: 100%;
    background-color: var(--marrom-ouro);
    border-radius: 10px;
    transition: all 0.3s ease;
}
.nav-menu{
    display: flex;
    list-style: none;
}
.nav-item{
    margin-left: 2rem;
}
.nav-link{
    color:var(--branco);
    text-decoration: none;
    transition: color 0.3s ease;
}
.nav-link:hover{
    color: var(--marrom-ouro);
}


@media (max-width: 768px) {
        /* Logo e Menu de Navegação  */
        .burger{
            display: flex;
        }
        .nav-menu{
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: var(--marrom-medio);
            flex-direction: column;
            align-items: center;
            padding: 1rem 0;
            clip-path: circle(0px at 90% -10%);
            transition: clip-path 0.5s ease-in-out;
            pointer-events: none;
        }
        .nav-menu.active{
            clip-path: circle(1000px at 90% -10%);
            pointer-events: all;
        }
        .nav-item{
            margin: 1rem 0;
        }
        .burger.active .bar:nth-child(1) {
            transform: translateY(9px) rotate(45deg);
        }
       
        .burger.active .bar:nth-child(2) {
            opacity: 0;
        }
       
        .burger.active .bar:nth-child(3) {
            transform: translateY(-9px) rotate(-45deg);
        }
}