.cabecalho{
    background-color: var(--marrom-medio);
    color: var(--marrom-ouro);
    width: 100%;
}
.logo-container, .subtitulo, .logo{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    font-weight: bold;
    font-family: 'Jacques Francois Shadow';
    color: var(--marrom-ouro);
    cursor: pointer;
}
.subtitulo{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--marrom-medio);
    color: var(--marrom-ouro);
    padding: 1rem 2rem;
    position: relative;
}
.burger{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}
.bar{
    height: 2px;
    width: 100%;
    background-color: var(--marrom-ouro);
    border-radius: 10px;
    transition: all 0.3s ease;
}
.nav-menu{
    display: flex;
    list-style: none;
}
.nav-item{
    margin-left: 2rem;
}
.nav-link{
    color:var(--branco);
    text-decoration: none;
    transition: color 0.3s ease;
}
.nav-link:hover{
    color: var(--marrom-ouro);
}


@media (max-width: 768px) {
        .burger {
            display: flex;
            z-index: 1001; 
        }
    
        .nav-menu {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            width: 260px; 
            height: 560px;
            background-color: var(--marrom-medio);
            flex-direction: column;
            align-items: flex-start; 
            justify-content: flex-start;
            padding: 5rem 2rem 2rem 2rem;
            transform: translateX(-100%); 
            transition: transform 0.4s ease-in-out;
            box-shadow: 4px 0 15px rgba(0, 0, 0, 0.3);
            z-index: 1000;
        }
    
        .nav-menu.active {
            transform: translateX(0);
        }
    
        .nav-item {
            margin: 1.5rem 0;
            width: 100%;
        }
    
        .nav-link {
            display: block;
            font-size: 1.2rem;
        }
    
        
        .burger.active .bar:nth-child(1) {
            transform: translateY(9px) rotate(45deg);
            background-color: var(--marrom-ouro); 
        }
       
        .burger.active .bar:nth-child(2) {
            opacity: 0;
        }
       
        .burger.active .bar:nth-child(3) {
            transform: translateY(-9px) rotate(-45deg);
            background-color: var(--marrom-ouro);
        }
    }
