/* ============================================ */
/* ABA DE CADASTRO DE PRODUTOS */
/* ============================================ */
.painel-admin {
    font-family: Arial, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}
.topo-fluxo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
    background-color: var(--marrom-escuro);
    color: var(--marrom-ouro);

}
.link-navegacao {
    text-decoration: none;
    font-weight: bold;
    color: var(--bege-fundo);
    padding: 5px;
    font-size: 15px;
    background-color: var(--marrom-ouro);
    border-radius: 15px;
    text-align: center;
    margin-left: 20px;
}
.botao-novo-link {
    background: var(--marrom-ouro);
    color: var(--bege-fundo);
    padding: 8px 16px;
    border-radius: 4px;
}
.subtitulo-painel {
    color: var(--marrom-medio);
    margin-bottom: 30px;
    font-size: 14px;
    padding: 0 30px;
    text-align: center;
}
.rotulo-campo {
    margin: 12px 0 5px 0;
    font-size: 14px;
    font-weight: bold;
    color: var(--marrom-escuro);
}


.formulario-produto-admin {
    background: var(--branco);
    padding:  20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}
.novo-produto{
    width: 100%;
    border-radius: 5px;
    border: solid 1px var(--cor-destaque);
    padding: 10px;
}
.select-produto-admin,
.textarea-produto-admin {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: inherit;
}
.botao-sucesso-admin {
    background-color: var(--marrom-vermelho);
    width: 100%;
    color: var(--bege-fundo);
    font-weight: bold;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}
.botao-perigo-admin {
    margin: 40px 5px;
    background-color: var(--marrom-vermelho);
    color: var(--bege-fundo);
    font-weight: bold;
}

/* ============================================ */
/* LISTAGEM DOS PRODUTOS DA PADARIA */
/* ============================================ */
.grid-produtos-admin {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    margin: 20px;
    max-width: 1000px; 
}
.card-estoque-admin {
    background: var(--branco);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 10px var(--bege-claro);
    box-sizing: border-box;
}
.card-estoque-admin img {
    width: 100px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    margin: 0 auto 10px auto;
}
.card-estoque-admin h4 {
    margin: 5px 0;
    color: var(--marrom-escuro);
    font-size: 16px;
}
.preco-estoque-admin {
    color: var(--marrom-medio);
    font-weight: bold;
    margin: 5px 0;
}
.container-botoes-card {
    margin-top: 10px;
}
.btn-excluir-card {
    background-color: var(--marrom-vermelho);
    color: var(--bege-fundo);
    padding: 6px 12px;
    font-size: 13px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    border: none;
}
.botao-voltar-inicio{
    padding: 10px 0;
    width: 90%;
    margin: 0 20px;
    border: none;
    background-color: var(--marrom-vermelho);
    color: var(--bege-fundo);
    border-radius: 15px;
    font-weight: bold;
}


/* ============================================ */
/* MOBILE FIRST */
/* ============================================ */
@media (max-width: 768px){
    .painel-admin {
        font-family: Arial, sans-serif;
        max-width: 900px;
        margin: 0 auto;
    }
    .topo-fluxo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin-bottom: 10px;
        background-color: var(--marrom-escuro);
        color: var(--marrom-ouro);
        width: 100%;
    }
    .link-navegacao {
        text-decoration: none;
        font-weight: bold;
        color: var(--bege-fundo);
        padding: 5px;
        font-size: 15px;
        background-color: var(--marrom-ouro);
        border-radius: 5px;
        text-align: center;
        margin-left: 10px;
    }
    .botao-novo-link {
        background: var(--marrom-ouro);
        color: var(--bege-fundo);
        padding: 8px 16px;
        border-radius: 4px;
    }
    .subtitulo-painel {
        color: var(--marrom-medio);
        margin-bottom: 30px;
        font-size: 14px;
        padding: 0 30px;
    }
    .rotulo-campo {
        margin: 12px 0 5px 0;
        font-size: 14px;
        font-weight: bold;
        color: var(--marrom-escuro);
    }
    .formulario-produto-admin {
        margin: 20px;
        background: var(--branco);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        margin-bottom: 30px;
    }
    .select-produto-admin,
    .textarea-produto-admin {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: inherit;
    }
    .botao-sucesso-admin {
        background-color: var(--marrom-vermelho);
        width: 100%;
        color: var(--bege-fundo);
        font-weight: bold;
        padding: 12px;
        font-size: 16px;
        border: none;
        border-radius: 15px;
        margin-top: 20px;
    }
    .botao-perigo-admin {
        margin: 40px 5px;
        background-color: var(--marrom-vermelho);
        color: var(--bege-fundo);
        font-weight: bold;
    }
    


    .grid-produtos-admin {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
        margin: 20px;
        max-width: 500px; 
    }
    .card-estoque-admin {
        background: var(--branco);
        padding: 15px;
        border-radius: 8px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0px 4px 10px var(--bege-claro);
        box-sizing: border-box;
    }
    .card-estoque-admin img {
        width: 100px;
        height: 80px;
        object-fit: cover;
        border-radius: 4px;
        margin: 0 auto 10px auto;
    }
    .card-estoque-admin h4 {
        margin: 5px 0;
        color: var(--marrom-escuro);
        font-size: 16px;
    }
    .preco-estoque-admin {
        color: var(--marrom-medio);
        font-weight: bold;
        margin: 5px 0;
    }
    .container-botoes-card {
        margin-top: 10px;
    }
    .btn-excluir-card {
        background-color: var(--marrom-vermelho);
        color: var(--bege-fundo);
        padding: 6px 12px;
        font-size: 13px;
        width: 100%;
        border-radius: 5px;
        border: none;
    }
    .botao-voltar-inicio{
        padding: 10px 0;
        width: 90%;
        margin: 0 20px;
        border: none;
        background-color: var(--marrom-vermelho);
        color: var(--bege-fundo);
        border-radius: 15px;
        font-weight: bold;
    }
}