/* ============================================ */
/* CADASTROS DE CLIENTE - ENTRADA DE FUNCIONÁRIO*/
/* ============================================ */
.espacoFinal{
    margin-bottom: 80px;
}
#meuFormulario {
    background: var(--branco);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px var(--bege-claro);
    width: 520px;
    margin: auto;
}
.apresentacaoCadastro{
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}
.contaDeUsuario{
    display: flex;
    justify-content:space-around;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #eee;
}
.contaDeUsuario p{
    border: solid 1px;
    padding: 10px 25px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
}
.aba-opcao.ativa {
    color: var(--bege-fundo);
    border-bottom: 2px solid var(--bege-fundo);
    background-color: var(--marrom-vermelho);
    font-weight: bold;
}
.aba-opcao {
    cursor: pointer;
    padding-bottom: 8px;
    margin: 0;
    color: var(--marrom-medio);
}
.instrucaoFormulario {
    margin: 10px 0 5px 0;
    font-size: 16px;
    font-weight: bold;
    color: var(--marrom-escuro)
}
.formularioCadastro {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid var(--cor-destaque);
    border-radius: 4px;
    box-sizing: border-box;
}
#btnAcao {
    width: 100%;
    padding: 10px;
    background-color: var(--marrom-vermelho);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px; 
}
#btnAcao:hover {
    background-color:var(--marrom-ouro);
    color: var(--marrom-escuro);
}

/* ============================================ */
/* MOBILE FIRST*/
/* ============================================ */
@media (max-width: 768px){
    .apresentacaoCadastro{
        text-align: center;
        padding: 20px 0;
        font-size: 18px;
    }
    .contaDeUsuario{
        display: flex;
        justify-content:space-around;
        margin-bottom: 20px;
        border-bottom: 2px solid #eee;
    }
    .contaDeUsuario p{
        border: solid 1px;
        padding: 4px;
        border-radius: 15px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 16px;
    }
    .aba-opcao.ativa {
        color: var(--bege-fundo);
        border-bottom: 2px solid var(--bege-fundo);
        background-color: var(--marrom-vermelho);
    }
    #meuFormulario {
        background: var(--branco);
        padding: 25px;
        border-radius: 15px;
        box-shadow: 0 4px 10px var(--bege-claro);
        width: 320px;
        margin: auto;
    }
    .aba-opcao {
        cursor: pointer;
        padding-bottom: 8px;
        margin: 0;
        color: var(--marrom-medio);
        font-weight: bold;
    }
    .instrucaoFormulario {
        margin: 10px 0 5px 0;
        font-size: 14px;
        color: var(--marrom-escuro)
    }
    .formularioCadastro {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid var(--cor-destaque);
        border-radius: 4px;
        box-sizing: border-box;
    }
    #btnAcao {
        width: 100%;
        padding: 10px;
        background-color: var(--marrom-vermelho);
        color: white;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 15px; 
    }
    #btnAcao:hover {
        background-color:var(--marrom-ouro);
        color: var(--marrom-escuro);
    }

}