.caixaDeTestemunha{
    display: flex;
    width: 100%;
    min-height: 90vh;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--marrom-medio);
    margin: 10px 0 0 0;
}
#botaoAnterior, #botaoProximo{
    height: 30px;
    width: 30px;
    border: none;
    background-color: var(--marrom-medio);
    color: var(--branco);
    font-size: 20px;
    opacity: 0.7;
}
#botaoAnterior:hover, #botaoProximo:hover{
    opacity: 1;
    cursor: pointer;
    color: var(--marrom-ouro);
}
.containerOpinioes{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
}
.sliderOpn{
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border-radius: 15px;
    position: absolute;
    box-shadow: 0px 0px 10px 4px var(--marrom-escuro);
    width: 105%;
}
.ativo{
    opacity: 1;
}
.Opiniao{
    background-color: var(--bege-claro);
    padding: 90px;
    font-family: 'Jacques Francois Shadow';
    font-size: 18px;
    color: var(--marrom-medio);
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}