.container-slider{
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.container-images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}
.slider-image{
    opacity: 0;
    transition: opacity 0,5s ease-in-out;
    border-radius: 15px;
    position: absolute;
    width: 100%;
}
.on{
    opacity: 1;
}
#prev-button, #next-button{
    height: 30px;
    width: 30px;
    border: none;
    background-color: var(--marrom-medio);
    color: var(--branco);
    font-size: 20px;
    cursor: pointer;
}
