/* ==================================================== */
/* PÁGINA DE USUÁRIO - CLIENTE */
/* ==================================================== */
.conteudo-conta {
    padding: 40px;
    font-family: Arial, sans-serif;
    color: var(--marrom-medio);
}
.conteudo-conta h2{
    font-size: 28px;
    text-align: center;
    color: var(--marrom-escuro);
}
.conteudo-conta img{
    width: 22px;
    height: 22px;
}
.conteudo-conta p{
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 100px;
}
.infPessoal{
    text-align: center;
    padding-bottom: 25px;
}
.botao-sair {
    display: flex;
    margin: auto;
    width: 600px;
    padding: 13px;
    background-color: var(--marrom-vermelho);
    color: var(--bege-fundo);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    transition: background 0.2s ease;
}
.botao-cancelar{
    display: flex;
    margin: auto;
    width: 600px;
    padding: 10px;
    background-color: var(--bege-claro);
    color: var(--marrom-escuro);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background 0.2s ease;
}
.botao-sair:hover {
    background-color: var(--marrom-ouro);
    color: var(--marrom-escuro);
}
.alterarDadosInput{
    padding: 15px;
    margin-left: 100px;
    width: 80%;
    border: solid 1px var(--cor-destaque);
    border-radius: 5px;
    margin-bottom: 15px;
}

/* ==================================================== */
/* MOBILE FIRTS */
/* ==================================================== */
@media (max-width:768px){
    .conteudo-conta {
        padding: 40px;
        font-family: Arial, sans-serif;
        color: var(--marrom-medio);
    }
    .conteudo-conta h2{
        text-align: center;
        font-size: 24px;
        color: var(--marrom-escuro);
    }
    .conteudo-conta img{
        width: 18px;
        height: 18px;
    }
    .conteudo-conta p{
        font-size: 16px;
        padding-left: 0;
        margin-bottom: 10px;
    }
    .infPessoal{
        text-align: center;
        padding-bottom: 15px;
    }
    .botao-sair {
        display: block;
        width: 100%;
        padding: 7px;
        background-color: var(--marrom-vermelho);
        color: var(--bege-fundo);
        border: none;
        border-radius: 15px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 20px;
        transition: background 0.2s ease;
    }
    .botao-cancelar{
        width: 100%;
        padding: 10px;
        background-color: var(--bege-claro);
        color: var(--marrom-escuro);
        border: none;
        border-radius: 15px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 20px;
        transition: background 0.2s ease;
    }
    .botao-sair:hover {
        background-color: var(--marrom-ouro);
        color: var(--marrom-escuro);
    }
    .alterarDadosInput{
        padding: 8px;
        margin-left: 0;
        width: 100%;
        border: solid 1px var(--cor-destaque);
        border-radius: 5px;
        margin-bottom: 15px;
    }
}