.rodape{
    background-color: var(--marrom-escuro);
    color: var(--marrom-ouro);
    text-align: center;
    padding: 10px;
}
.itemRodapetitulo{
    font-size: 22px;
}
.itemRodape{
    padding: 10px;
}

