/* ==================================================== */
/* IMAGEM INICIAL DA PÁGINA HOME - CLIENTE */
/* ==================================================== */
.imagemPrincipal{
    background: linear-gradient(#c7882a55, #5c3a2186),
    url('../imagens/pao_de_queijo_slider.png');
    background-size: cover;
    background-position: center;
    height: 550px;
    width: 90%;
    color: var(--marrom-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    padding: 20px;
    margin-top: 20px;
}
.tituloPrincipal{
    text-align: center;
    font-size: 58px;
    margin-bottom: 10px;
}
.subtituloPrincipal{
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
}

/* ==================================================== */
/* MOBILE FIRST */
/* ==================================================== */
@media (max-width: 768px) {
    .imagemPrincipal{
        background: linear-gradient(#c7882a55, #5c3a2186),
        url('../imagens/pao_de_queijo_slider.png');
        background-size: cover;
        background-position: center;
        height: 350px;
        width: 90%;
        color: var(--marrom-dark);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px auto;
        padding: 20px;
        margin-top: 20px;
    }
    .tituloPrincipal{
        text-align: center;
        font-size: 28px;
        margin-bottom: 10px;
    }
    .subtituloPrincipal{
        text-align: center;
        font-size: 22px;
        margin-bottom: 10px;
    }
}