body {
    background-color: var(--bege-fundo);
    color: var(--marrom-dark);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.topo-checkout {
    background-color: var(--marrom-escuro);
    color: var(--bege-claro);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topo-checkout button {
    background: none; 
    border: none; color: var(--marrom-ouro);
    font-size: 16px; 
    cursor: pointer;
}
.container-checkout {
    max-width: 480px;
    margin: 0 auto;
    padding: 15px;
}
.mini-carrinho-topo{
    display: flex; 
    align-items: center; 
    gap: 5px;
}
.step {
    border-bottom: 2px solid #e0d0ba;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.step h3 { 
    font-size: 18px; 
    margin-bottom: 15px; 
    color: var(--marrom-escuro); 
}
.campo-grupo {
    margin-bottom: 12px;
}
.campo-grupo label {
    display: block; 
    font-size: 12px; 
    color: var(--marrom-medio); 
    margin-bottom: 2px;
}
.campo-grupo input {
    width: 100%; 
    padding: 8px 0; 
    background: none; 
    border: none;
    border-bottom: 1px solid #c4b49e; 
    font-size: 15px; 
    color: #333; 
    outline: none;
}
.iconIdentificadorTarefa{
    width: 16px; 
    height: 16px; 
    margin-right: 5px;
    gap: 5px;
}


/* Alternador Entrega/Retirada */
.botoes-alternadores { 
    display: flex; 
    gap: 10px; 
    margin-bottom: 15px;
 }
.botoes-alternadores button {
    flex: 1; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 6px; 
    cursor: pointer; 
    font-weight: bold; 
    background: #e0e0e0; 
    color: #787878;
}
.botoes-alternadores button.ativo { 
    background-color: var(--marrom-vermelho); 
    color: var(--branco); 
    border: none; 
}


