.rodapePedido{
    background-color: var(--marrom-vermelho);
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: auto;
    border-radius: 15px;
    color: var(--branco);
    position: fixed;  
    z-index: 9999; 
    cursor: pointer;
}
.tituloPagina{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color: var(--marrom-escuro);
}