.categoriasDoCatalogo{
    display: flex;
    justify-content: space-between;
}
.secaoCatalogo {
    background-color: var(--bege-claro);
    border: solid 0.5px var(--marrom-ouro);
    padding: 2px 5px;
    border-radius: 15px;
    transition: all 0.3s ease; 
}

.secaoCatalogo:hover {
    background-color: var(--marrom-vermelho);
    color: var(--bege-claro);
    border-color: var(--marrom-vermelho);
}
.secaoCatalogo:hover a {
    color: var(--bege-claro); 
}


/* Categoria Pão de Queijo */
.paoDeQueijos {
    width: 100%;
}
.tituloDaSecao {
    width: 100%;
    margin: 0 0 15px 15px;
}

.grade-produtos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.grade-produtos .paoQ {
    width: calc(50% - 10px); 
    box-sizing: border-box; 
    box-shadow: 1px 1px 5px var(--marrom-escuro);
    margin: 15px 5px;
    border-radius: 15px;
    border-radius: 15px;
}
.paoQ img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.paoQContent{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

.complementosCardapio{
    display: flex;
    justify-content: space-between;
    margin: 3px;
    cursor: pointer;
}
.adiciona1AoCarrinho, .tempoDePreparo {
    background-color: var(--marrom-vermelho);
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    color: var(--bege-claro);
}
.adiciona1AoCarrinho:hover{
    background-color: var(--marrom-ouro);
    color: var(--marrom-dark);
    border-radius: 5px;
}


@media (max-width: 768px) {
    .secaoCatalogo {
    background-color: var(--bege-claro);
    border: solid 0.5px var(--marrom-ouro);
    padding: 3px 7px;
    border-radius: 15px;
    transition: all 0.3s ease; 
    font-size: 12px;
    margin: 0 2px;
}
.paoQ img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
}