/* ==================================================== */
/* CATEGORIA DO CARDÁPIO DE PRODUTOS - CLIENTE */
/* ==================================================== */
/* Seção de categorias dos produtos */
.categoriasDoCatalogo{
    display: flex;
    justify-content: space-between;
    margin: 3px;
}
.secaoCatalogo {
    background-color: var(--bege-claro);
    border: none;
    padding: 25px 25px;
    border-radius: 15px;
    transition: all 0.3s ease; 
    margin: 0 10px;
}
.secaoCatalogo:hover {
    background-color: var(--marrom-vermelho);
    color: var(--bege-claro);
    border-color: var(--marrom-vermelho);
}
.secaoCatalogo:hover a {
    color: var(--bege-claro); 
}
.paoDeQueijos {
    width: 100%;
}


.nossosProdutos{
    font-size: 32px;
    padding: 15px;
    font-family: 'times new roman';
    color: var(--marrom-escuro);
}

/* Cardápio dos produtos - grade e card*/
.tituloDaSecao {
    color: var(--marrom-escuro);
    text-shadow: 1px 1px 2px var(--marrom-ouro);
    font-weight: bold;
    font-size: 28px;
    margin: 40px 0 0 15px;
}
.cardapioPrincipal {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.grade-produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    justify-content: center;
    margin: 20px auto;
}
.grade-produtos .paoQ {
    background-color: var(--fundo-card);
    box-sizing: border-box; 
    box-shadow: 1px 1px 5px var(--marrom-medio);
    margin: 15px 10px;
    border-radius: 15px;
}
.paoQ img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.paoQContent{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}
.complementosCardapio{
    display: flex;
    justify-content: space-between;
    margin: 3px;
    cursor: pointer;
}
.adiciona1AoCarrinho, .tempoDePreparo {
    background-color: var(--marrom-vermelho);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--bege-claro);
    width: 90px;
}
.adiciona1AoCarrinho:hover{
    background-color: var(--marrom-ouro);
    color: var(--marrom-dark);
    border-radius: 5px;
}

/* ==================================================== */
/* MOBILE FIRST */
/* ==================================================== */
@media (max-width: 768px) {
    /* Cardápio dos produtos - grade e card*/
    .grade-produtos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        max-width: 500px;
        margin: 20px auto;
    }
    .grade-produtos .paoQ {
        box-sizing: border-box; 
        box-shadow: 1px 1px 5px var(--marrom-medio);
        border-radius: 15px;
    }
    .paoQ img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .paoQContent{
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 8px;
    }
    .complementosCardapio{
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }
    .adiciona1AoCarrinho, .tempoDePreparo {
        background-color: var(--marrom-vermelho);
        border: none;
        border-radius: 5px;
        color: var(--bege-claro);
        text-align: center;
    }
    .adiciona1AoCarrinho:hover{
        background-color: var(--marrom-ouro);
        color: var(--marrom-dark);
        border-radius: 5px;
    }

    /* Seção de categorias dos produtos */
    .secaoCatalogo {
        background-color: var(--bege-claro);
        padding: 2px 5px;
        border-radius: 5px;
        transition: all 0.3s ease; 
        font-size: 11px;
        margin: 0 3px;
        border: none;
    }
    .secaoCatalogo:hover {
        background-color: var(--marrom-vermelho);
        color: var(--bege-claro);
        border-color: var(--marrom-vermelho);
    }
}